body {
  @include fontBody;
  color: $primary-text-color;

  &.modal-open {
    overflow: hidden;
  }
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  @include maxMedia($preMob) {
    width: 100%;
    min-width: 320px;
  }

  @include minMedia($mob) {
    width: 480px;
  }

  @include minMedia($tab) {
    width: 768px;
    padding-left: 34px;
    padding-right: 34px;
  }

  @include minMedia($desk) {
    width: 1280px;
    padding-left: 115px;
    padding-right: 115px;
  }
}
