// Стили для файла с примером HTML-фрагмента

@import './utils/vars';
@import './utils/breakpoints';
@import './utils/mixins';
@import './utils/service';

@import './base/reset';
@import './base/common';

@import './components/menu-container';
@import './components/button';

@import './layout/header';
@import './layout/menu';
@import './layout/hero';
@import './layout/products';
@import './layout/about';
@import './layout/advantages';
@import './layout/gallery';
@import './layout/reviews';
@import './layout/contacts';
@import './layout/footer';

// Если будут модалка и форма заказа, раскомментить
// @import './components/modal';
// @import './components/modal-button-close';
// @import './components/order-form';
