<section class="section about" id="about">
    <div class="container__about container">
        <div class="about__name">
            <p class="about__pretitle">TRADITION AND LOVE</p>
            <h2 class="about__title">HOW IT’S MADE?</h2>
        </div>
  
            <img class="cow_img" srcset="./images/cow-tel-1x.png 1x, ./images/cow-tel-2x.png 2x" src="./images/cow-tel-1x.png" alt="cow image" />
            <!-- <img class="cow_img" srcset="./images/cow-tab-1x.png 1x, ./images/cow-tab-2x.png 2x" src="./images/cow-tab-1x.png" alt="cow image" /> -->

        <div class="about__text">
            <p class="about__pretitle1">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros.
            Maecenas eleifend erat at justo fringilla.</p>
            <p class="about__pretitle2">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat.
            Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
            <p class="about__pretitle2">Aliquam erat volutpat. Aenean accumsan.</p>
        </div>
        <button class="white-button button">Read more > </button>
    </div>
</section>   