<footer class="footer">
    <div class="container">
        <div class="footer__box">
            <p class="footer__name">homemade ice cream made<span class="footer__name-bottom">with passion</span></p>
            <div class="footer__nav">
                <ul class="footer__social-list list">
                    <li class="footer__social-link">
                        <a href="https://github.com/" class="footer__social-item link">
                            <svg class="footer__social-icon">
                                <use href="images/footer_svg/footer_sprite.svg#icon-github"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer__social-link">
                        <a href="https://web.telegram.org/" class="footer__social-item link">
                            <svg class="footer__social-icon">
                                <use href="images/footer_svg/footer_sprite.svg#icon-telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer__social-link">
                        <a href="https://www.facebook.com" class="footer__social-item link">
                            <svg class="footer__social-icon">
                                <use href="images/footer_svg/footer_sprite.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <a href="tel:+61 (0) 383 766 284" class="footer__phone link">
                <span class="footer__phone-text">Feel free to contact</span> +61 (0) 383 766 284
                </a>
            </div>
        </div>
        
    </div>
    <p class="footer__bottom-text">
        © 2022 - IceCream. All Rights Reserved.
    </p>
</footer>