<section class="section hero">
  <div class="container hero__box">
    <div class="hero__circle"></div>
    <img class="hero__pic" src="./images/hero-icecream.png" alt="ice-cream" />
    <div class="hero__content">
      <h1 class="hero__title">
        ice cream made with
        <span class="hero__title-main">passion</span>
      </h1>
      <ul class="hero-list">
        <li class="hero-list__item">
          <a href="" class="hero-list__link-left">Products</a>
        </li>
        <li class="hero-list__item">
          <a href="" class="hero-list__link-right">How it&#8242;s made&#63;</a>
        </li>
      </ul>
    </div>
    <img src="./images/hero-milk.png" alt="milk" class="hero__milk" />
    <img src="./images/hero-girl.png" alt="girl" class="hero__girl" />
    <div class="hero__information">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button type="button" class="hero__bttn"></button>
    </div>
    <ul class="presentation-list">
      <li class="presentation-list__item">
        <a href="" class="presentation-list__link">
          <span class="presentation-list__span">16</span>
          cafes
        </a>
        <svg class="presentation-list__icon">
          <use href="./images/ellipse.svg"></use>
        </svg>
      </li>
      <li class="presentation-list__item">
        <a href="" class="presentation-list__link">
          <span class="presentation-list__span">23</span>
          food trucks
        </a>
        <svg class="presentation-list__icon">
          <use href="./images/ellipse.svg"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
