.contacts-section {
  padding-top: 43px;
  padding-bottom: 57px;
  background-image: linear-gradient(#ffffff 127px, #fff5f6 127px, #fff5f6 1563px);
  @include minMedia($tab) {
    padding-top: 59px;
    padding-bottom: 83px;
    background-image: linear-gradient(#ffffff 137px, #fff5f6 137px, #fff5f6 811px);
  }
  @include minMedia($desk) {
    padding-top: 66px;
    padding-bottom: 83px;
    background-image: linear-gradient(#ffffff 168px, #fff5f6 168px, #fff5f6 851px);
  }
}

.contacts-list {
  margin-bottom: -20px;
  padding-left: 20px;
}
.contacts-item {
  max-width: 220px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  margin-bottom: 20px;
  padding-top: 43px;
  padding-bottom: 43px;
  padding-left: 20px;
}

.contact-category {
  width: 80px;
  height: 16px;
  @include fontBody($ff: $dm-sans, $fw: 500, $fs: 12px, $lh: 1.86);
  letter-spacing: 0.04em;
  background: #f0d1a5;
  border-radius: 4px;
  @include centeredFlex;
  color: #ffffff;
}

.contact-foodtruck {
  width: 130px;
  height: 16px;
  background: #c2e297;
}

.contacts-cities {
  margin-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
}

.contacts-city-name {
  @include fontBody($ff: $dm-sans, $fw: 500, $fs: 12px, $lh: 1.86);
}
