.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    padding-left: 34px;
    padding-right: 34px;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 116px;
    padding-right: 116px;
  }
}

.products {
  padding-top: 121px;
  padding-bottom: 98px;
  @media screen and (min-width: 768px) {
    padding-top: 122px;
    padding-bottom: 112px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}
.products__pre-title {
  @include fontPretitle($ff: $titan-one, $fw: 400, $fs: 18px, $lh: 21 / 18);
  text-align: center;
  margin-bottom: 15px;
  @media screen and (min-width: 768px) {
    @include fontPretitle($ff: $titan-one, $fw: 400, $fs: 26px, $lh: 30 / 26);
  }
  @media screen and (min-width: 1200px) {
    @include fontPretitle($ff: $titan-one, $fw: 400, $fs: 30px, $lh: 34 / 30);
  }
}
.products__title {
  @include fontTitle($ff: $titan-one, $fw: 400, $fs: 34px, $lh: 39 / 34, $ls: 0.04em);
  text-align: center;
  margin-bottom: 31px;
  @media screen and (min-width: 768px) {
    @include fontTitle($ff: $titan-one, $fw: 400, $fs: 48px, $lh: 55 / 48, $ls: 0.04em);
    margin-bottom: 39px;
  }
  @media screen and (min-width: 1200px) {
    @include fontTitle($ff: $titan-one, $fw: 400, $fs: 58px, $lh: 66 / 58, $ls: 0.04em);
    margin-bottom: 49px;
  }
}
.products-list__item {
  background-color: $primary-accent-color;
  border-radius: 24px;
  @media screen and (min-width: 768px) {
    min-width: 220px;
  }
  @media screen and (min-width: 1200px) {
    min-width: 330px;
  }
}
// .products-list__cream::before {
//   width: 249px;
//   height: 252px;
//   background-image: url(../images/product-1.png);
// }
.products-list__item:nth-child(2) {
  background-color: $product2-bg-color;
}
.products-list__item:nth-child(3) {
  background-color: $product3-bg-color;
}
.products-list__item:not(:last-child) {
  margin-bottom: 16px;
}
.products-list__name {
  @include fontTitle($ff: $titan-one, $fw: 400, $fs: 20px, $lh: 23 / 20, $ls: 0.04em);
  text-align: center;
  color: $secondary-color;
}
.products-list__name::after {
  content: '...';
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
}
.products-list__discription {
  @include fontBody($ff: $dm-sans, $fw: 700, $fs: 14px, $lh: 1.5);
  text-align: center;
  letter-spacing: 0.04em;
  color: $secondary-color;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.products-list__discription::after {
  background-image: url(../images/arrow-right.png);
  width: 40px;
  height: 40px;
}
@media screen and (min-width: 768px) {
  .products-list {
    display: flex;
    margin: calc(-1 * 20px / 3);
  }
  .products-list__item {
    margin: calc(20px / 2);
  }
}
@media screen and (min-width: 1200px) {
  .products-list {
    justify-content: center;
  }
  .products-list__item {
    margin: calc(30px / 2);
  }
}
