.rewiews {
  padding: 60px 0;
}

.swiper-slide {
  position: relative;
}

.box {
  background: repeating-linear-gradient
    (transparent 0px, transparent 30px, #e1e1e1 30px, #e1e1e1 31px);

  @include maxMedia($preMob) {
  }

  @include minMedia($mob) {
  }

  @include minMedia($tab) {
  }

  @include minMedia($desk) {
  }
}

.rewiews-photo {
  display: flex;
  justify-content: center;
  margin-bottom: 29px;

  @include minMedia($mob) {
  }

  @include minMedia($tab) {
    margin-bottom: 19px;
  }

  @include minMedia($desk) {
    margin-bottom: 15px;
  }
}

.rewiews-post {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 43px 66px 26px 59px;
  background: #fafafa;

  @include maxMedia($preMob) {
    width: 280px;
    height: 308px;
  }

  @include minMedia($mob) {
    width: 440px;
    margin-bottom: 26px;
  }

  @include minMedia($tab) {
    padding: 47px 80px 34px 80px;
    margin-bottom: 24px;
    width: 620px;
    height: 164px;
  }

  @include minMedia($desk) {
    padding: 47px 89px 39px 87px;
    margin-bottom: 15px;
    width: 926px;
    height: 138px;
  }

  &::before {
    position: absolute;
    top: 28px;
    left: 61px;
    content: url(../images/rewiews/rewiews-post-icon.svg);

    @include minMedia($mob) {
      top: 28px;
      left: 48px;
    }

    @include minMedia($tab) {
      top: 30px;
      left: 40px;
    }
    @include minMedia($desk) {
      top: 32px;
      left: 50px;
    }
  }
}

.rewiews-text {
  position: relative;
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.583;
  text-align: center;

  @include minMedia($mob) {
    font-weight: 500;
    font-size: 13px;
    line-height: 2.3;
    text-align: center;
    letter-spacing: 0.04em;
  }

  @include minMedia($tab) {
    font-weight: 500;
    font-size: 14px;
    line-height: 2.142;
    text-align: center;
    letter-spacing: 0.04em;
  }

  @include minMedia($desk) {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.04em;
  }
}

.rewiews-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;

  @include minMedia($tab) {
    margin-bottom: 14px;
  }
  @include minMedia($desk) {
    margin-bottom: 15px;
  }
}

.rewiews-svg-icon {
  fill: #d31342;
}

.rewiews-sity {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  @include minMedia($tab) {
    margin-bottom: 35px;
  }
}

.rewiews-name {
  font-size: 14px;
  line-height: 1.857;
  text-align: center;

  @include minMedia($mob) {
    font-size: 15px;
    line-height: 1.866;
  }

  @include minMedia($tab) {
    font-size: 16px;
    line-height: 1.875;
  }
  @include minMedia($desk) {
    font-size: 20px;
    line-height: 1.85;
  }
}

// PAGINATION
.swiper-pagination {
  position: relative;
}

.swiper-pagination-bullet {
  background-image: url(../images/rewiews/rewiews-swiper-gray.svg);
  background-size: cover;
  fill: #d9d9d9;
  width: 12px;
  height: 12px;

  &:first-child {
    background-image: url(../images/rewiews/rewiews-home-gray.svg);
    background-color: transparent;
    background-size: cover;
    border-radius: unset;
  }
}

.swiper-pagination-bullet-active {
  &:first-child {
    background-image: url(../images/rewiews/rewiews-home-red.svg);
    background-size: cover;
    border-radius: unset;
  }

  &:nth-child(n + 2) {
    background-image: url(../images/rewiews/rewiews-swiper-red.svg);
    background-color: #d31342;
    background-size: cover;
    border-radius: 50%;
  }
}
